@media (max-width: 768px) {
  section {
    max-width: 540px;
  }
}

@media (max-width: 992px) {
  .service {
  }
  .nav-items {
    display: none;
  }
  .btn-mobile-nav {
    display: block;
  }
  .nav-logo {
    padding-right: 24px;
    padding-left: 24px;
  }
  .nav-open {
    display: flex;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
  }
  .service .row {
    flex-wrap: wrap;
  }
  .row-instructor {
    flex-wrap: wrap;
  }
  .row-category {
    flex-wrap: wrap;
  }
  .row-category-col-1 {
    flex-wrap: wrap;
  }
  .row-2-col-1 {
    flex-wrap: wrap;
  }
  .row-courses {
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .about-us .row {
    flex-wrap: wrap;
  }
  .col-image img {
    width: 222px;
    height: 247.575px;
  }
}
