/* Importation des polices depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap");

/* Réinitialisation des marges par défaut, des rembourrages et du modèle de boîte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles du corps */
body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: #52565b;
  background-color: #fff;
}

/* Styles de la barre de navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid #ced9e6;
}

/* Styles du logo */
.nav-logo {
  padding: 5px 48px;
  text-decoration: none;
  color: #06bbcc !important;
}

.nav-logo h2 {
  font-size: 32px;
  font-family: "Nunito", sans-serif;
}

/* Styles des liens de navigation */
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #52565b;
  font-weight: 500;
  font-size: 15px;
  margin-right: 30px;
  padding: 25px 0px;
}

/* Effet au survol des liens de navigation */
.nav-link:hover {
  color: #06bbcc;
}

/* Styles des boutons */
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 27.2px 48px;
  background-color: #06bbcc;
  border-color: #06bbcc;
  text-decoration: none;
}

/* Effet au survol des boutons */
.btn:hover {
  background-color: #04d8eb;
}

/* Styles du bouton de navigation mobile */
.btn-mobile-nav {
  display: none;
  cursor: pointer;
  margin-right: 24px;
  padding: 4px 12px;
  background-color: transparent;
  border: 1px solid #ced9e6;
}

/* Styles de l'icône du menu */
.icon-menu {
  font-size: 40px;
}

/* Éléments de navigation mobile */
.nav-items-mobile {
  display: none;
  flex-direction: column;
  padding: 24px;
}

/* Styles des liens de navigation mobiles */
.nav-link-mobile {
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #52565b;
  font-weight: 500;
  font-size: 15px;
}

/* Styles pour la section .container */
.container {
  margin-right: 88px;
  margin-left: 88px;
}

/* Styles pour la section .service */
section {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 12px;
  padding-left: 12px;
}

/* Styles pour la section .service .row .col */
.service .row .col {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 24px;
}

/* Styles pour les éléments .service-item */
.service-item {
  background-color: #f0fbfc;
  cursor: pointer; /* Afficher le curseur comme une flèche */
  padding-top: 16px;
}
.service-item:hover {
  background-color: #e6f8f9;
}
.service-item .p-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.service-item-icon {
  color: #06bbcc;
  margin-bottom: 24px;
}

/* Styles pour .service-item-title */
.service-item-title {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #181d38;
  margin-bottom: 16px;
}

/* Styles pour les paragraphes dans .service-item */
.service-item p {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

/* Styles pour .service .row */
.service .row {
  display: flex;
  justify-content: center;
}

/* About US SECTION */
.about-us .row {
  display: flex;
  justify-content: center;
}
.col-image {
  padding-left: 12px;
  padding-right: 24px;
}
.col-image img {
  width: 612px;
  height: 447.2px;
}
.col-info {
  padding-left: 24px;
  padding-right: 24px;
}

.section-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #06bbcc;
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.section-subtitle {
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #181d38;
  margin-bottom: 24px;
}
.col-info .info {
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #52565b;
  margin-bottom: 24px;
}
.row-service {
  display: flex;
  margin-bottom: 24px;
}
.row-service .col {
  /* width: 294px; */
  margin-top: 8px;
  padding-right: 12px;
}
.row-service .fa-arrow-right {
  color: #06bbcc;
  margin-right: 8px;
}
.btn-read-more {
  color: #ffffff;
  background-color: #06bbcc;
  border: 1px solid transparent;
  border-color: #06bbcc;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 16px 48px;
}

.btn-info {
  margin-top: 45px;
}
/* Courses Categories Section */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-category {
  display: flex;
}

.row-2-col-1 {
  display: flex;
  gap: 16px;
}

.img-fluid {
  width: 100%;
}

.row-category-col-1 {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding-right: 8px;
  padding-left: 8px;
  /* width: 56.5%; */
}

.row-category-col-2 {
  margin-top: 16px;
  padding-right: 8px;
  padding-left: 8px;
  /* width: 41.66667%; */
}

.row-2-col-1 {
  margin-top: 16px;
}

.img-cat {
  position: relative;
}

.ticket {
  position: absolute;
  background-color: #fff;
  margin: 1px;
  padding: 16px 8px;
  text-align: center;
  bottom: 0;
  right: 0;
}

.ticket-title {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #181d38;
}

.ticket-count {
  color: #06bbcc;
}

/* Courses Section */
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-courses {
  display: flex;
  justify-content: center;
}

.col-courses {
  margin-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

.course-item {
  background-color: #f0fbfc;
}

.item-relative {
  position: relative;
}

.buttons {
  margin-bottom: 1.5rem;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  display: flex;
}

.border-radius-right {
  border-radius: 30px 0 0 30px;
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 1px solid #dee2e6;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.border-radius-left {
  border-radius: 0 30px 30px 0;
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 1px solid #dee2e6;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.text-center {
  text-align: center;
  display: block;
  padding: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

.text-center h3 {
  font-size: 28px;
  margin-top: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #181d38;
}

.stars {
  margin-bottom: 16px;
  color: #06bbcc;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.text-center h5 {
  margin-bottom: 24px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #181d38;
}

.d-flex {
  border-top: 1px solid #dee2e6;
  display: flex;
}

.flex-fill {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  flex: 1 1 auto;
  border-right: 1px solid #dee2e6;
  font-size: 14px;
}

.text-primary {
  color: #06bbcc;
  margin-right: 8px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
/* Instructors Section */
.instructor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-instructor {
  display: flex;
  justify-content: center;
}
.col-instructor {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 24px;
}
.instructor-img {
  width: 100%;
  height: 100%;
}

.instructor-info {
  position: relative;
  padding: 24px;
}
.instructor-details {
  text-align: center;
  background-color: #f0fbfc;
}

.instructor-name {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #181d38;
}

.social-media {
  display: flex;
  justify-content: center;
  background-color: #f0fbfc;
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  top: -30px;
  right: 85px;
}

.btn-social-media {
  color: #ffffff;
  padding: 0;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
  width: 2rem;
  height: 2rem;
  background-color: #06bbcc;
  border-color: #06bbcc;
  cursor: pointer;
  text-decoration: none;
}
