/* Importation des polices depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap");

/* Réinitialisation des marges par défaut, des rembourrages et du modèle de boîte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles du corps */
body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: #52565b;
  background-color: #fff;
}

/* Styles de la barre de navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid #ced9e6;
}

/* Styles du logo */
.nav-logo {
  padding: 5px 48px;
  text-decoration: none;
  color: #06bbcc !important;
}

.nav-logo h2 {
  font-size: 32px;
  font-family: "Nunito", sans-serif;
}

/* Styles des liens de navigation */
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #52565b;
  font-weight: 500;
  font-size: 15px;
  margin-right: 30px;
  padding: 25px 0px;
}

/* Effet au survol des liens de navigation */
.nav-link:hover {
  color: #06bbcc;
}

/* Styles des boutons */
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 27.2px 48px;
  background-color: #06bbcc;
  border-color: #06bbcc;
  text-decoration: none;
}

/* Effet au survol des boutons */
.btn:hover {
  background-color: #04d8eb;
}

/* Styles du bouton de navigation mobile */
.btn-mobile-nav {
  display: none;
  cursor: pointer;
  margin-right: 24px;
  padding: 4px 12px;
  background-color: transparent;
  border: 1px solid #ced9e6;
}

/* Styles de l'icône du menu */
.icon-menu {
  font-size: 40px;
}

/* Éléments de navigation mobile */
.nav-items-mobile {
  display: none;
  flex-direction: column;
  padding: 24px;
}

/* Styles des liens de navigation mobiles */
.nav-link-mobile {
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #52565b;
  font-weight: 500;
  font-size: 15px;
}

/* Styles pour la section .container */
.container {
  margin-right: 88px;
  margin-left: 88px;
}

/* Styles pour la section .service */
section {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 12px;
  padding-left: 12px;
}

/* Styles pour la section .service .row .col */
.service .row .col {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 24px;
}

/* Styles pour les éléments .service-item */
.service-item {
  background-color: #f0fbfc;
  cursor: pointer; /* Afficher le curseur comme une flèche */
  padding-top: 16px;
}
.service-item:hover {
  background-color: #e6f8f9;
}
.service-item .p-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.service-item-icon {
  color: #06bbcc;
  margin-bottom: 24px;
}

/* Styles pour .service-item-title */
.service-item-title {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #181d38;
  margin-bottom: 16px;
}

/* Styles pour les paragraphes dans .service-item */
.service-item p {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

/* Styles pour .service .row */
.service .row {
  display: flex;
  justify-content: center;
}

/* About US SECTION */
.about-us .row {
  display: flex;
  justify-content: center;
}
.col-image {
  padding-left: 12px;
  padding-right: 24px;
}
.col-image img {
  width: 612px;
  height: 447.2px;
}
.col-info {
  padding-left: 24px;
  padding-right: 24px;
}

.col-info .section-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #06bbcc;
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.section-subtitle {
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #181d38;
  margin-bottom: 24px;
}
.col-info .info {
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #52565b;
  margin-bottom: 24px;
}
.row-service {
  display: flex;
  margin-bottom: 24px;
}
.row-service .col {
  width: 294px;
  margin-top: 8px;
  padding-right: 12px;
}
.row-service .fa-arrow-right {
  color: #06bbcc;
  margin-right: 8px;
}
.btn-read-more {
  color: #ffffff;
  background-color: #06bbcc;
  border: 1px solid transparent;
  border-color: #06bbcc;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 16px 48px;
}

.btn-info {
  margin-top: 45px;
}
/* .col-image {
  padding-left: 24px;
  padding-right: 24px;
}

.col-info {
  padding-left: 24px;
  padding-right: 24px;
}

.section-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: #06bbcc;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.2;
} */
